* {
  border: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
}

/* login */
.login {
  align-items: center;
  background-color: #24292e;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login .login-content .title {
  color: #ffffff;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  margin-bottom: 100px;
  text-align: center;
}

.login .login-content .text {
  color: #bebfc1;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 20px;
  text-align: center;
}

.login .login-content .box-input {
  display: flex;
  gap: 12px;
}

.login .login-content .box-input .textfield {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  width: 470px;
}

.login .login-content .box-input .btn {
  background-color: #41c363;
  border-radius: 8px;
  color: #e5e5e5;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.login .login-content .box-input .btn:hover {
  background-color: #2f8f49;
}

/* find repository */

.find-repository {
  align-items: center;
  background-color: #24292e;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.find-repository .search-content {
  max-width: 1296px;
  width: 100%;
}

.find-repository .search-content .title {
  color: #ffffff;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  margin-bottom: 100px;
  text-align: center;
}

.find-repository .search-content .box-input {
  display: flex;
  gap: 12px;
}

.find-repository .search-content .box-input .textfield {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  color: #ffffff;
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}

.find-repository .search-content .btn {
  background-color: #41c363;
  border-radius: 8px;
  color: #e5e5e5;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.find-repository .search-content .btn:hover {
  background-color: #2f8f49;
}

/* User */

.not-found {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.not-found .try-content .title {
  color: #24292e;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  margin-bottom: 100px;
  text-align: center;
}

.not-found .try-content .btn {
  background-color: #0a69da;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  display: table;
  text-decoration: none;
}

.not-found .try-content .btn:hover {
  background-color: #250fcb;
}

/* Dashboard */
.dashboard {
  display: flex;
  gap: 32px;
}

.dashboard .box-details {
  width: 296px;
}

.dashboard .photo {
  width: 296px;
  height: 296px;
  border-radius: 50%;
  filter: grayscale(1);
  margin-bottom: 20px;
}

.dashboard .name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #24292e;
  margin-bottom: 20px;
}

.dashboard .username {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.dashboard .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #24292e;
  margin-bottom: 40px;
}

.dashboard .city {
  width: 52px;
  height: 19px;
  font-family: "Radio Canada";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #57606a;
  margin-top: 40px;
}

.dashboard .since {
  width: 133px;
  height: 19px;
  font-family: "Radio Canada";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #57606a;
  margin-top: 20px;
}

.dashboard .box-content {
}

.busca .textfield {
  margin: 0 40px;
  width: 894px;
  height: 48px;
  background: rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.busca .btn {
  width: 118px;
  height: 48px;
  background: #41c363;
  border-radius: 8px;
}

.busca .title {
  width: 186px;
  height: 38px;
  font-family: "Radio Canada";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
