// ==============================================
//                                      VARIABLES
// ==============================================
$font-family: "Radio Canada", sans-serif;
$background-light: #e5e5e5;
$background-dark: #24292e;
$white: #ffffff;
$silver: #bebfc1;
$success: #41c363;
$success-hover: #2f8f49;
$textfield-background: rgba(0, 0, 0, 0.19);
$gallery: #f0f0f0;
$info: #0a69da;
$info-hover: #250fcb;
$gray: #57606a;
$black: #000000;
$sand: #bebfc1;
$pink: pink;
