* {
  border: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
}

.login {
  align-items: center;
  background-color: #24292e;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.login .login-content .title {
  color: #ffffff;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  margin-bottom: 100px;
  text-align: center;
}
.login .login-content .text {
  font-size: 32px;
  line-height: 38px;
  color: #bebfc1;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.login .login-content .box-input {
  display: flex;
  gap: 12px;
}
.login .login-content .box-input .textfield {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  width: 470px;
}
.login .login-content .box-input .btn {
  background-color: #41c363;
  border-radius: 8px;
  color: #bebfc1;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.login .login-content .box-input .btn:hover {
  background-color: #2f8f49;
}

.find-repository {
  align-items: center;
  background-color: #24292e;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.find-repository .search-content {
  max-width: 1296px;
  width: 100%;
}
.find-repository .search-content .title {
  color: #ffffff;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  margin-bottom: 100px;
  text-align: center;
}
.find-repository .search-content .box-input {
  display: flex;
  gap: 12px;
}
.find-repository .search-content .box-input .textfield {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  color: #ffffff;
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}
.find-repository .search-content .box-input .btn {
  background-color: #41c363;
  border-radius: 8px;
  color: #e5e5e5;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.find-repository .search-content .box-input .btn:hover {
  background-color: #2f8f49;
}

.not-found {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.not-found .try-content .title {
  color: #24292e;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  margin-bottom: 100px;
  text-align: center;
}
.not-found .try-content .btn {
  background-color: #0a69da;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  display: table;
  text-decoration: none;
}
.not-found .try-content .btn:hover {
  background-color: #250fcb;
}

.dashboard {
  display: flex;
  gap: 32px;
  padding: 40px;
}
.dashboard .box-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  width: 296px;
}
.dashboard .box-details .photo {
  border-radius: 50%;
  filter: grayscale(1);
  height: 296px;
  margin-bottom: 20px;
  width: 296px;
}
.dashboard .box-details .name {
  color: #24292e;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 20px;
}
.dashboard .box-details .username {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.dashboard .box-details .bio {
  color: #24292e;
}
.dashboard .box-details > p + p {
  margin-top: 20px;
}
.dashboard .box-content {
  flex: 1;
}
.dashboard .box-content .box-input {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}
.dashboard .box-content .box-input .textfield {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  color: #ffffff;
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}
.dashboard .box-content .box-input .textfield::-moz-placeholder {
  color: #e5e5e5;
}
.dashboard .box-content .box-input .textfield:-ms-input-placeholder {
  color: #e5e5e5;
}
.dashboard .box-content .box-input .textfield::placeholder {
  color: #e5e5e5;
}
.dashboard .box-content .box-input .btn {
  background-color: #41c363;
  border-radius: 8px;
  color: #e5e5e5;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.dashboard .box-content .box-input .btn:hover {
  background-color: #2f8f49;
}
.dashboard .box-content .title {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 20px;
}
.dashboard .box-content .list {
  list-style: none;
}
.dashboard .box-content .list-item {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  font-size: 12px;
  color: #bebfc1;
  /* margin-bottom: 20px; */
  /* margin-top: 20px; */
}
.dashboard .box-content .list-item + .list-item {
  margin-top: 20px;
}
.dashboard .box-content .list-item .flex {
  display: flex;
  justify-content: space-between;
}
.dashboard .box-content .list-item .flex + .flex {
  margin-top: 20px;
}
.dashboard .box-content .list-item .flex .language {
  position: relative;
  padding-left: 24px;
}
.dashboard .box-content .list-item .flex .language::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: pink;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.dashboard .box-content .list-item .paragrafo {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.dashboard .box-content .list-item .label {
  background-color: #ffffff;
  border-radius: 8px;
  color: #e5e5e5;
  cursor: default;
  width: 57px;
  height: 22px;
  font-size: 12px;
  border: 1px solid #f0f0f0;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */